html,body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #f0f0f0;
}
body,a,p,div,ul,li,img,input,h1,h2,h3,h4,h5,h6,i,em,span,section,header { margin: 0; padding: 0;}
body {overflow-y: scroll; font-size: 62.5%; font-family:"Microsoft Yahei", arial, helvetica, sans-serif;
line-height: 1.4;height:100%;width:100%;}


a { text-decoration: none;}
img,input { border: 0;-moz-borde:0;}
ul { list-style-type: none;}
input[type="submit"]{ border: 0; -moz-borde:0;}
input[type="button"] {
	-webkit-appearance: none;
}


body a,input,button{outline:none !important;}
a{text-decoration: none;}
textarea{resize:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#cccccc;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#cccccc;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#cccccc;}

#app {
	padding-bottom: 2.187rem;
}




